.descript{
    overflow-y: scroll;
}
.aui-list-item-inner.aui-swipe-handle {
    overflow-x: hidden;
    position: relative;
    z-index: 1;
    background-color: #ffffff;
}
.aui-swipe-btn {
    position: absolute;
    right: 0;
    z-index: 0;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.aui-swipe-btn .aui-btn {
    border-radius: 0;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;

}
.donghua {
    -webkit-transition-duration:300ms;
    transition-duration:300ms;
}